@import "tailwindcss";

@theme {
  --color-primary: #b31b21;
  --color-background: #f0f0ec;
  --color-dark: #17171a;

  --font-family-poppins: var(--font-poppins), sans-serif;
  --font-family-erotique: var(--font-erotique), serif;

  --animate-marquee: marquee 25s linear infinite;
}

@layer utilities {
  .font-poppins {
    font-family: var(--font-poppins), sans-serif;
  }

  .font-erotique {
    font-family: var(--font-erotique), serif;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}

body {
  font-family: var(--font-poppins), sans-serif;
}
